@media (min-width:0px) and (max-width:500px) {
    .open .fa-bars{
        display: block;
        margin-top: 15px;
        color: red;
    }
    .navbar {
        height: 30px;
    }
    .logo i{
        padding: 10px 10px;
    }
    
    .menu{
        /* display: none; */
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: -20px;
        display: none;
        background: #333;
    
    }
   
    .dropdown-content{
        top: 0;
        left: -270%;
    }
    
    .ssm{
        
        top: 100%;
        left: 0;
        width: 160px;
        
    }
    .ssm p{
        display:block;
        /* width: 10px; */
    }
    .navbar {
        
        justify-content: space-around;
        
    }
    .menu-item{
        display: block;
        margin: 10px;
    }
    .open{
        position: relative;
    }
    .open:hover .menu{
        display: block;
    }
    .summer p{
        font-size: large;
        font-weight: bolder;
        /* border: 3px solid white; */
        text-align: justify;
        color: white;
        
    }
    .summer{
        width: 200px;
        height: 200px;
    }
    .banner{
        height: 90vh;
        width: 100%;
        position: relative; 
    }
    .ssm p{
        width: 100%;
        /* background-color: red; */
        padding: 15px 0px;
        
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media (min-width:481px) and (max-width:768px){
    .open .fa-bars{
        display: block;
        margin-top: 12px;
        color: red;
    }
    .navbar {
        height: 30px;
    }
    .logo i{
        padding: 10px 10px;
    }
    
    .menu{
        /* display: none; */
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 5px;
        left: -20px;
        display: none;
        background: #333;
    
    }
    .dropdown-content{
        top: 0;
        left: -270%;
    }
    
    .ssm{
        
        top: -8%;
        left: -60%;
        width: 100px;
        
    }
    .ssm p{
        display:block;
        width: 10px;
    }
    .navbar {
        
        justify-content: space-around;
        
    }
    .menu-item{
        display: block;
        margin: 10px;
    }
    .open{
        position: relative;
    }
    .open:hover .menu{
        display: block;
    }
    .summer p{
        font-size: smaller;
        font-weight: bolder;
        /* border: 3px solid white; */
        text-align: justify;
        color: white;
        
    }
    .summer{
        width: 300px;
        height: inherit;
    }
    .banner{
        height: 90vh;
        width: 100%;
        position: relative; 
    }
    .ssm p{
        width: 100%;
        /* background-color: red; */
        padding: 15px 0px;
        
    }
}
/* ---------------------------------------------------------------------------------------------------- */
@media (min-width:769px) and (max-width:1024px){
    .summer p{
        font-size: smaller;
        font-weight: bolder;
        /* border: 3px solid white; */
        text-align: justify;
        color: white;
        
    }
    .summer{
        width: 400px;
        height: inherit;
    }
    .banner{
        height: 90vh;
        width: 100%;
        position: relative; 
    }
}