.akii1{
    height: 600px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4, 200px);
    co
    width: 99%;
    
}
#akshay1{
    grid-column-start: 1;
    grid-column-end: 8;  
    grid-row-start: 1;
    grid-row-end: 2;
}
#akshay2{
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;

}
#akshay3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#akshay4{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}
#akshay5{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}
#akshay6{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
#akshay7{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
}
#akshay8{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
#akshay9{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;

}
#akshay10{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
}